<p> Dear <%= @guest.name %>, Your Reservation Number is <%= @reservation_number %> </p>

<% if @reservation_previous.present? %>
  <p> Your previous booking details </p>
  <div>
    <p> Restaurant: <%= @reservation_previous.reservation.restaurant.name %></p>
    <p> Table: <%= @reservation_previous.restaurant_table.code %></p>
    <p> Time: <%= @reservation_previous.reservation_time.strftime("%I:%M %p")%></p>
    <p> Date: <%= @reservation_previous.reservation_date %></p>
    <p> No of pax: <%= @reservation_previous.no_of_pax %>(s) </p>
  </div>
<% end %>
<div>
  <p> Here are your current reservation details </p>
  <p> Restaurant: <%= @reservation_last.reservation.restaurant.name %></p>
  <p> Table: <%= @reservation_last.restaurant_table.code %></p>
  <p> Time: <%= @reservation_last.reservation_time.strftime("%I:%M %p") %></p>
  <p> Date: <%= @reservation_last.reservation_date %></p>
  <p> No of pax: <%= @reservation_last.no_of_pax %>(s) </p>
</div>

<p> Looking forward to hosting you soon!! </p>
