<p> You have received a reservation booking. Reservation Number is <%= @reservation_number %> </p>

<div>
  <p> Here are the reservation details </p>
  <p> Guest: <%= @reservation_last.reservation.guest.name %></p>
  <p> Table: <%= @reservation_last.restaurant_table.code %></p>
  <p> Time: <%= @reservation_last.reservation_time.strftime("%I:%M %p") %></p>
  <p> Date: <%= @reservation_last.reservation_date %></p>
  <p> No of pax: <%= @reservation_last.no_of_pax %>(s) </p>
</div>

<p> Thanks </p>
